name: e2e
on:
  push:
    branches: [master]
jobs:
  execute_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Execute Docker Compose Cypress
        run: |
              cd ./e2e
              docker-compose -f docker-compose.test.yaml up --exit-code-from cypress